/* YourComponent.css */
.detail-page {
  .pokemon-card {
    width: 70%; /* Adjust the width as needed */
    margin: 20px auto;
    padding: 20px;
  }

  .back {
    cursor: pointer;
    color: #1890ff;
    margin-bottom: 10px;
    text-align: start;
  }

  .card-header {
    text-align: center;
  }

  .ability {
    margin-top: 20px;
    &-item {
      margin-bottom: 5px;
    }
    h1 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  .stats {
    margin-top: 20px;
    &-item {
      list-style-type: none;
      margin-bottom: 5px;
    }
    h2 {
      font-size: 16px;
      margin-bottom: 10px;
    }
    ul {
      padding: 0;
    }
  }
}
